:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343a40;

    --fuentePrincipal: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color 300ms;
}

.btn:hover {
    background-color: var(--gris);
    color: var(--blanco);
}

/* Utilidades */
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

/* header */
.header {
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    color: var(--blanco);   
    background-size: cover;
    background-position: center center;
    padding: 0rem 0;
}

@media (min-width: 768px) {
    .header {
        padding: 0rem 0;
    }
}

/*calc(60rem - 4rem)*/
.contenido-header {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    padding: 3rem 0;
}

@media (min-width: 992px) {
    .contenido-header {
        height: 100vh;
    }
}

.nombre-sitio {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

@media (min-width: 960px) {
    .nombre-sitio {
        text-align: start;
        font-size: 4.8rem;
    }
}

.nombre-sitio span {
    font-weight: 900;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.link {
    color: var(--blanco);
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .contacto {
        align-items: flex-end;
    }
}

.telefono {
    color: #FFF;
    display: flex;
}

.telefono::before {
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/telefono.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
    }
}

.navegacion a {
    padding: 1rem 2rem;
    transition: background-color 300ms;
    width: 100%;
    text-align: center;
}

.navegacion a:hover {
    background-color: rgb(255 255 255 / .5);
    color: var(--negro);
}

.slogan {
    text-align: center;
}

.slogan h1 {
    font-size: 3rem;
    margin: 0;
}

@media (min-width: 768px) {
    .slogan {
        text-align: right;
    }

    .slogan h1 {
        font-size: 4.8rem;
    }
}

/* Nosotros */

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

@media (min-width: 992px) {
    .nosotros {
        grid-template-columns: repeat(3, 1fr);
    }
    .contenido-nosotros {
        grid-column: 2 / 4;
    }
}

.contenido-nosotros {
    background-color: var(--blanco);
    padding: 2rem;
}

.contenido-nosotros h2,
.contenido-nosotros p {
    margin-bottom: 1rem;
}

/* Modelos */

.modelo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: bottom center;
}

.contenido-modelo {
    background-color: var(--blanco);
    padding: 3rem;
}

.modelo-basico {
    background-image: url('../img/modelo_basico.jpg');
}

@media (min-width: 992px) {
    .modelo-basico { 
        grid-template-columns: repeat(4, 1fr);
        background-position: top right;
        background-size: 55% auto;
    }

    .contenido-modelo-basico {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
}

@media (min-width: 768px) {
    .contenido-modelo-basico {
        padding: 3rem 2rem 3rem 0rem
    }
}

.modelo-premier {
    background-image: url('../img/modelo_premier.jpg');
}

@media (min-width: 992px) {
    .modelo-premier {
        grid-template-columns: repeat(4, 1fr);
        background-position: bottom left;
        background-size: 60% auto;
    }

    .contenido-modelo-premier {
        grid-column: 3 / 5;
    }
}

@media (min-width: 768px) {
    .contenido-modelo-premier {
        padding: 3rem 0rem 3rem 2rem;
    }
}

.modelo-elite {
    background-image: url('../img/modelo_elite.jpg');
}

@media (min-width: 992px) {
    .modelo-elite {
        grid-template-columns: repeat(4, 1fr);
        background-position: bottom right;
        background-size: auto 80%;
    }

    .contenido-modelo-elite {
        grid-column: 1 / 3;
    }
}

@media (min-width: 768px) {
    .contenido-modelo-elite {
        padding: 3rem 2rem 3rem 0rem;
    }
}

/* Galería */

.galeria-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.galeria-list img {
    object-fit: cover;
    height: 100%;
}

.item-galeria:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.item-galeria:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.item-galeria:nth-child(6) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}

@media (min-width: 768px) {
    .galeria-list {
        grid-template-columns: unset;
        grid-template-columns: repeat(3, 1fr);
    }

    .item-galeria:nth-child(2) {
        grid-row: 1 / 3;
        grid-column: 3 / 4;
    }

    .item-galeria:nth-child(6) {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
    }

    .item-galeria:nth-child(3) {
        grid-row: 3 / 3;
        grid-column: 2 / 3;
    }

    .item-galeria:nth-child(4) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}

/* Footer */

.footer {
    background-image: url('../img/footer_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer .barra {
        flex-direction: column;
    }

    .footer .contacto {
        justify-items: center;
        align-items: center;
    }

    .footer {
        height: 30vh;
    }

    .footer .nombre-sitio {
        font-size: 2rem;
    }

    .footer .contacto{
        flex: 1;
        width: 100%;
    }

    .footer .navegacion {
        margin-top: 1rem;
    }
}

@media (min-width: 992px) {
    .footer {
        height: 45vh;
    }

    .footer .nombre-sitio {
        font-size: 3rem;
    }

    .footer .contacto{
        flex: 0.8;
        width: 90%;
    }
}

.derechos-reservados {
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.derechos-reservados p {
    margin: 0;
    padding: 0.4rem;  
}